<style>
  .main-container {
    background-color: rgba(120, 120, 120, 0.27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .header {
    padding-top: 30px;
    font-weight: 900;
    text-align: center;
  }

  h1 {
    font-size: 40px !important;
  }

  h5 {
    font: 33px sans-serif;
    margin-top: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    color: #dfdfdf;
    margin-bottom: 20px;
  }

  .title {
    font-size: 15px;
  }

  h5 :before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }

  h5 span {
    background: #f8f9fa;
    padding: 0 15px;
  }

  .player-waitng,
  .room-list {
    width: 50%;
    margin: 10px auto 20px;
  }

  .room-number {
    margin-right: 5px;
  }

  .room-number a:hover {
    color: #fff;
    cursor: pointer;
  }

  .game-loader {
    height: 300px;
  }

  .player {
    border-bottom: 5px solid black;
  }

  .gameboard {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

</style>

<div class="main-container">
  <!--    <div class="sub-header d-flex justify-content-center">-->
  <!--        <p class="mat-display-1 current-status">Start the game</p>-->
  <!--    </div>-->
  <!--    <div class="d-flex justify-content-center">-->
  <!--        <button *ngIf="this.game.gameStatus === 0" (click)="startGame()" mat-raised-button color="accent">Start</button>-->
  <!--    </div>-->
  <!--    <div class="d-flex justify-content-center">-->
  <!--        <button *ngIf="this.game.gameStatus === 1" (click)="stopGame()" mat-raised-button color="accent">Stop</button>-->
  <!--    </div>-->
  <div class="card bg-light mb-3" style="width: 60rem;">
    <div class="card-header header"><h1>Tic-Tac-Toe Game</h1></div>
    <div class="gamefield-container container-fluid" [hidden]="roomNumber<=0 || !gameHas2Players">
      <div *ngIf="this.game.gameStatus === 1" class="gameboard">
        <div class="player player-one align-self-center">
          <p class="mat-body-1">Player 1</p>
        </div>
        <div class="player player-two align-self-center">
          <p class="mat-body-1">Player 2</p>
        </div>
      </div>
      <h1 style="text-align: center">Player {{currentPlayerTurn}}'s turn</h1>
      <p> You are player {{ player }} </p>
      <div class="gamefield">
        <div class="row">
          <div (click)="clickSquare($event)" position="0" id="0" class="square col-4"></div>
          <div (click)="clickSquare($event)" position="1" id="1" class="square col-4"></div>
          <div (click)="clickSquare($event)" position="2" id="2" class="square col-4"></div>
        </div>
        <div class="row">
          <div (click)="clickSquare($event)" position="3" id="3" class="square col-4"></div>
          <div (click)="clickSquare($event)" position="4" id="4" class="square col-4"></div>
          <div (click)="clickSquare($event)" position="5" id="5" class="square col-4"></div>
        </div>
        <div class="row">
          <div (click)="clickSquare($event)" position="6" id="6" class="square col-4"></div>
          <div (click)="clickSquare($event)" position="7" id="7" class="square col-4"></div>
          <div (click)="clickSquare($event)" position="8" id="8" class="square col-4"></div>
        </div>
      </div>
    </div>
    <div class="room-list" [hidden]="roomNumber>0 || gameHas2Players">
      <h6 class="text-center title">Available Rooms to Join</h6>
      <ul class="nav nav-pills">
        <li class="nav-item room-number" *ngFor="let number of emptyRooms">
          <a class="nav-link active" title="Join room Number {{number}}" (click)="joinRoom(number)">#{{number}}</a>
        </li>
      </ul>
    </div>
    <div class="create-room text-center" [hidden]="roomNumber>0">
      <h5>
        <span>OR</span>
      </h5>
      <button class="btn btn-primary" (click)="createRoom()" style="margin-bottom: 30px"> Create New Room</button>
    </div>
    <div class="player-waitng" [hidden]="roomNumber<=0 || gameHas2Players">
      <h6 class="text-center title">Waiting for player to join</h6>
      <div style="display: flex; justify-content: center">
        <img alt="" width="auto" class="game-loader" src="https://acegif.com/wp-content/uploads/loading-36.gif">
      </div>
      <h6 class="text-center title">You are in Room Number {{roomNumber}}, Tell your friend to join Room
        Number {{roomNumber}}</h6>
    </div>
  </div>
</div>
