.main-container {
    .gameboard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .player-one {
            color: rgb(221, 94, 94);
        }

        .player-two {
            color: rgb(137, 218, 137);
        }
        .player {
            p {
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
}

.gamefield {
  margin: 50px auto;
  max-width: 300px;
  .square {
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: 1px solid #ffffff;
    background: #a0a0a0;
    &.player-one {
      background:rgb(221, 94, 94);
    }
    &.player-two {
      background:rgb(137, 218, 137);
    }
  }
}
